@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('BRLNSR.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Berlin Sans FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Bold'), url('BRLNSB.woff') format('woff');
    }

    :root {
        --white: #ffffff;
        --yellow: #ffc801;
        --bg: #1b2e35;
        --font-berlin: 'Berlin Sans FB';
        --font-montserrat: 'Montserrat';
        --font-bebas: 'Bebas Neue';
    }

@media screen and (max-width: 1024px) {
    .btn {
        display: none;
    }


    .main {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .main .container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 50px;
    }

    .btn-none { /* BOTÃO RECEBER ATENDIMENTO */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        border: 2px solid var(--yellow);
        border-radius: 20px;
        margin-top: 15%;
        margin-bottom: ;
        margin-left: 240px;
        margin-right: 240px;
        color: var(--white);
        text-decoration: none;
        padding: 20px;
        transition: all 0.5s;
    }
    
    .btn-none:hover { /* HOVER BOTÃO  */
        background-color: var(--yellow);
    }

    /* FOOTER */

    .footer {
        margin-top: -230px;
    }
}




@media screen and (min-width: 768px) and (max-width: 1024px) {

}