@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('BRLNSR.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Berlin Sans FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Bold'), url('BRLNSB.woff') format('woff');
    }

    :root {
        --white: #ffffff;
        --yellow: #ffc801;
        --bg: #1b2e35;
        --font-berlin: 'Berlin Sans FB';
        --font-montserrat: 'Montserrat';
        --font-bebas: 'Bebas Neue';
    }

    @media screen and (max-width: 1024px) {


    }

@media screen and (max-width: 678px) {
    /* HEADER MOBILE*/
    .header .btn {
        display: none;
    }

    .header a {
        font-size: 1rem;
    }

    /* MAIN MOBILE*/

    .main .section-main {
        display: flex;
        flex-direction: column-reverse;

    }

    .infos {
        margin-top: 10%;
        text-align: center;
        width: 350px;
    }

    .main .section-main .infos h1 {
        font-size: 2rem;
        margin-top: 100px;
    }

    .main .section-main .infos h2 {
        font-size: 1rem;
        margin-top: 5px;
    }

    .main .section-main .infos p {
        font-size: .8rem;
    }

    .illustration {
        width: 400px;
        margin-bottom: -30px;
    }

    .btn-none { /* BOTÃO RECEBER ATENDIMENTO */
        display: block;
        font-family: "Montserrat", sans-serif;
        border: 2px solid var(--yellow);
        border-radius: 20px;
        margin-bottom: 5%;
    }
    
    .btn-none:hover { /* HOVER BOTÃO  */
        background-color: var(--yellow);
    }
    
    main  a { /* LINKS */
        color: var(--white);
        text-decoration: none;
        padding: 15px;
        transition: all 0.5s;
    }

    /* FOOTER */

    footer a {
        font-size: 1rem;
    }

    footer .logo {
        font-size: 1rem;
    }

    footer .redes-sociais {
        display: flex;
        gap: 10px;
    }
}