@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --white: #ffffff;
    --yellow: #ffc801;
    --bg: #1b2e35;
    --font-krub: 'Krub', sans-serif;
    --font-montserrat: 'Montserrat';
    --font-bebas: 'Bebas Neue';
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

body, html {
    background-color: var(--bg);
    width: 100%;
}

/* HEADER */

.header { /* CONTAINER HEADER */
    width: 100%;
    height: 10%;
    top: 0;
    background-color: var(--bg);
    border-bottom: 1px solid #1d1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
}

header .logo { /* LOGO */
    font-family: var(--font-krub);
    font-weight: 600;
    font-size: 1.5rem;
}

header #icon-logo { /* ICON LOGO */
    color: var(--yellow);
}

.nav { /* MENU CENTRAL */
    font-family: "Montserrat", sans-serif;
}

.nav .ul { /* LISTA MENU CENTRAL */
    display: flex;
    list-style: none;

}

.nav a {
    font-size: 1rem;
}

.nav .ul li a:hover { /* HOVER LISTA */
    color: var(--yellow);
}

.nav .ul li a:focus { /* FOCUS LISTA */
    color: var(--yellow);
}

header .btn { /* BOTÃO */
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

header .btn:hover { /* HOVER BOTÃO  */
    background-color: var(--yellow);
}

header a { /* LINKS HEADER */
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    font-size: .8rem;
    transition: all 0.5s;
}

/* MAIN PAGE PORTFOLIO */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-top: 10%;
    gap: 50px;
    margin-bottom: 5%;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    width: 500px;
    height: 500px;
    border: 2px solid var(--yellow);
    color: var(--white);
    border-radius: 20px;

}

.bloco h1 {
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-bebas);
    font-size: 2.5rem;
}

img {
    width: 350px;
    
}

p {
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.2rem;
}

.btn-none {
    display: none;
}

/* RODAPÉ */

.footer { /* RODAPÉ CONTAINER */
    background-color: var(--bg);
    border-top: 1px solid #1d1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

footer .logo { /* RODAPÉ LOGO */
    font-family: var(--font-krub);
    font-weight: 600;
    font-size: 1.5rem;
}

footer #icon-logo { /* ICON LOGO */ 
    color: var(--yellow);
}


.footer a { /* LINKS FOOTER */
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s;
}

.footer .redes-sociais a:hover { /* FOOTER HOVER */ 
    color: var(--yellow);
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    font-size: 1.5rem;
}