@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --white: #ffffff;
    --yellow: #ffc801;
    --bg: #1b2e35;
    --font-krub: 'Krub';
    --font-montserrat: 'Montserrat';
    --font-bebas: 'Bebas Neue';
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

body, html {
    background-color: var(--bg);
    width: 100%;
}

/* HEADER */

.header { /* CONTAINER HEADER */
    width: 100%;
    height: 10%;
    top: 0;
    background-color: var(--bg);
    border-bottom: 1px solid #1d1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
}

header .logo { /* LOGO */
    font-family: var(--font-krub);
    font-weight: 600;
    font-size: 1.5rem;
}

header #icon-logo { /* ICON LOGO */
    color: var(--yellow);
}

.nav { /* MENU CENTRAL */
    font-family: "Montserrat", sans-serif;
}

.nav .nav-menu { /* LISTA MENU CENTRAL */
    display: flex;
    list-style: none;

}

.nav a {
    font-size: 1rem;
}

.nav .nav-menu li a:hover { /* HOVER LISTA */
    color: var(--yellow);
}

.nav .nav-menu li a:focus { /* FOCUS LISTA */
    color: var(--yellow);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

header .btn { /* BOTÃO */
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

header .btn:hover { /* HOVER BOTÃO  */
    background-color: var(--yellow);
}

header a { /* LINKS HEADER */
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    font-size: .8rem;
    transition: all 0.5s;
}

/* MAIN */

.main {
    height: 100%;
}

.main .section-main { /* SECTION MAIN */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    gap: 100px;
    overflow: hidden;
}

.btn-none {
    display: none;
}

.illustration { /* ILUSTRAÇÃO AMARELA*/
    width:700px;
}

.infos { /* TEXTOS MAIN */
    width: 500px;
    color: var(--white);
    font-family: var(--font-montserrat);
}

span { /* TEXTO AMARELO DESTACADO NO TITULO */
    color: var(--yellow);
}

.infos h1 { /* H1 MAIN */
    font-family: var(--font-bebas);
    letter-spacing: 4px;
    font-size:4rem;
    font-weight: bold;
}

.infos h2 { /* H2 MAIN */
    font-family: var(--font-krub);
    font-size: 1.5rem;
    margin-top: -20px;
}

.tracado {
    width: 900px;
    color: var(--yellow);
    height: 5px;
}

.infos p { /* PARÁGRAFO MAIN */
    font-size: 1rem;
    margin-top: 20px;
    line-height: 30px;
}

#icon-html {
    color: orangered;
}

#icon-css {
    color: #004AE1;
}

#icon-js {
    color: var(--yellow);
}

/* RODAPÉ */

.footer { /* RODAPÉ CONTAINER */
    background-color: var(--bg);
    border-top: 1px solid #1d1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: 20%;
}

footer .logo { /* RODAPÉ LOGO */
    font-family: var(--font-krub);
    font-weight: 600;
    font-size: 1.5rem;
}

footer #icon-logo { /* ICON LOGO */ 
    color: var(--yellow);
}


.footer a { /* LINKS FOOTER */
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s;
}

.footer .redes-sociais a:hover { /* FOOTER HOVER */ 
    color: var(--yellow);
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    font-size: 1.5rem;
}


